body {
  background-color: #fffaef;
  background-image: url('../images/bg.png');
  color: #4c4c4c;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
}

.card {
  background: rgba(255, 255, 255, 0.75);
}

.post-categories li {
  list-style: none;
}